<h1>Bookers#edit</h1>

<h2>New book</h2>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_field :Title %>
	
  <h4>Body</h4>
  <%= f.text_area :Body %>
	
  <h4>sent</h4>
  <%= f.submit 'Create Book' %>
<% end %>