<html>
  <head></head>
  <body>
    <p id="care">Book was successfully created.</p>

    <p>
      <strong>Title:</strong>

    </p>
    <p>
      <strong>Body:</strong>
    
    </p>
    <a class="edit" href="<%= edit_path(@book) %>">Edit</a>
    " | "
    <a class="back" href="/books">Back</a>
  </body>
</html>

